.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Visual Studio Code
.idea
.DS_Store
.vscode/*
!.vscode/launch.json
node_modules
.eslintcache
*.code-workspace